
.intro {
    text-align: center;
    padding: 50px 20px;
}
.hide {
    display: none;
}
.filters-toggle {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px;
    text-align: center;
    
}

.filters-container {
    transition: all 0.3s ease;
}

.filters-container.hidden {
    display: none;
}

@media (max-width: 768px) {
    .hide {
        display: block;
    }
}
